root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #242424;
  background-color: lightgrey;

}

body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

.container {
  margin: 0 auto;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: lightsteelblue;
}

.search-form {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.search-form input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-form button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: lightseagreen;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.photo-card {
  width: calc(100% / 3 - 10px * 2);
  max-width: 275px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &:hover,
  &:focus {
    box-shadow: 0px 0px 5px 2px rgba(0, 4, 56, 0.5);
  }
}

.photo-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.photo-card .info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.info .info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.load-more {
  display: none;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
}

.load-more:hover {
  background-color: lightseagreen;
}